.{
  position:absolute;
  right:250px;
  top:-45px;
}

.mart{
  position:absolute;
  right:200px;
  top:10px;
}

.me1{
  position:absolute;
  right:30px;
  top:20px;
}

.stik{
  position:absolute;
  right:20px;
  top:270px;
}

.langit{
  position:absolute;
  left:90px;
  top:290px
}

.mislogo{
  position:absolute;
  left:10px;
  top:-80px;
  animation-iteration-count:infinite;
}

.galon{
  position:absolute;
  right:500px;
  top:200px;
}

.me2{
  position:absolute;
  left:-45px;
  top:20px;
}
